@mixin center {
    text-align: center;
    align-items: center;
}

.adp {
    @include center;
    display: flex;
    flex-direction: column;
    justify-content: center;
<<<<<<< HEAD
    margin: 50px;
=======
    margin: 10px;
>>>>>>> fc0bf6780a696f718e6dd36c0527cf40e8c168d5
    padding: 10px;

    h1 {
        color: $gato_negro;
        font-size: 50px;
        font-family: 'Nabla', cursive;
        font-family: 'Rubik Dirt', cursive;
    }

    h2 {
        color: $gato_azul
    }


    p {
        color: $gato_negro;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-bottom: 20px;
    }

    .crd {
        
        display: flex;
        flex-direction: row;
        justify-content: center;
       
        .card {
<<<<<<< HEAD
            background-color: $gato_azul;
            width: 250px;
            margin: 30px;
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
        h5{
            font-family: 'Nabla', cursive;
                font-family: 'Rubik Dirt', cursive;
            color: $gato_negro;
=======
            background-color: aquamarine;
            width: 250px;
            margin: 20px;
        }
        h5{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: $gato_azul;
>>>>>>> fc0bf6780a696f718e6dd36c0527cf40e8c168d5
        }
    }


}